<!-- Title: Notifications -->
<div class="mgmt_container">

    <div id="notifications_mgmt_div">

        <p>Turn on Site-wide Alert Message? This will display a custom message on the login page for all users for a specified time.</p>
        <div class="row">
            <table width="100%">
                <tr>
                    <td width="200"><label for="siteWideAlertStatus">Enable Alert Message</label></td>
                    <td>
                        <input type="radio" value="0" name="siteWideAlertStatus" onchange="window.notificationsManager.dirtyForm()"> Off<br/>
                        <input type="radio" value="1" name="siteWideAlertStatus" onchange="window.notificationsManager.dirtyForm()"> On (Login Page Only)<br/>
                        <input type="radio" value="2" name="siteWideAlertStatus" onchange="window.notificationsManager.dirtyForm()"> On (Login and Site Header)<br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="siteWideAlertMessage">Alert Message</label>
                    </td>
                    <td>
                        <textarea name="siteWideAlertMessage" id="siteWideAlertMessage" rows="4" onchange="window.notificationsManager.dirtyForm()"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="siteWideAlertType">Alert Type (Default: "Alert")</label>
                    </td>
                    <td>
                        <span class="icon icon-xs icon-alert" id="siteWideAlertTypePreview"></span>
                        <select name="siteWideAlertType" id="siteWideAlertType" onchange="window.notificationsManager.dirtyForm()">
                            <option value="message">Message</option>
                            <option value="alert" selected="selected">Alert</option>
                            <option value="error">Error</option>
                        </select>
                    </td>
                </tr>
            </table>
            <script>
                $(document).ready(function(){
                    $("select[name=siteWideAlertType]").on("change",function(){
                        var alertType = $(this).val();
                        $("#siteWideAlertTypePreview").prop("class","icon icon-xs icon-"+alertType);
                    });
                });
            </script>
        </div>

        <p>Specify subscribers for notification by username or email address.
            If by email address, the email address must belong to a valid system user.
            You can specify multiple users by separating the usernames or email addresses with a comma.</p>

        <div class="row">
            <table style="margin-left:50px;">
                <tr>
                    <th align="left"><label for="error">Errors:</label></th>
                    <td><input size="40" type="text" id="error" name="error" onchange="window.notificationsManager.dirtyForm();" disabled /></td>
                </tr>
                <tr>
                    <th align="left"><label for="issue">Issues:</label></th>
                    <td><input size="40" type="text" id="issue" name="issue" onchange="window.notificationsManager.dirtyForm();" disabled /></td>
                </tr>
                <tr>
                    <th align="left"><label for="newUser">New Users:</label></th>
                    <td><input size="40" type="text" id="newUser" name="newUser" onchange="window.notificationsManager.dirtyForm();" disabled /></td>
                </tr>
                <tr>
                    <th align="left"><label for="update">Updates:</label></th>
                    <td><input size="40" type="text" id="update" name="update" onchange="window.notificationsManager.dirtyForm();" disabled /></td>
                </tr>
            </table>
        </div>

        <p>
            <label for="emailAllowNonuserSubscribers">Allow non-user subscribers?</label>
            <input type="checkbox" id="emailAllowNonuserSubscribers" name="emailAllowNonuserSubscribers" onchange="window.siteInfoManager.dirtyForm();" />
            <small>
                Indicates whether this site should restrict email addresses for site notifications to addresses that are
                associated with valid active users of the XNAT installation? If turned on, the site is more secure from
                exploitation as a spam relay, but restricts the addresses that can be used when alerting administrators
                to system events.
            </small>
        </p>

    </div>
    <div class="buttons">
        <input type="button" class="submit" value="Save" name="eventSubmit_doPerform" id="notifications_save_button" onclick="window.notificationsManager.saveTabSettings();"/>&nbsp;
        <input type="button" class="reset" value="Reset" name="eventSubmit_doReset" id="notifications_reset_button" onclick="window.notificationsManager.resetForm();" disabled/>
    </div>
</div>


<script type="text/javascript">
    function configurationNotificationsTabChange(obj) {
        if(obj.newValue.get("href")=="#notifications") {
            if(window.notificationsManager==undefined) {
                window.notificationsManager = new SettingsTabManager('notifications_mgmt_div', 'notifications');
            }
        }
    }

    function addNotificationsMgmtMonitor(){
        if(window.configurationTabView.get("activeTab").get("href")=="#notifications") {
            if(window.notificationsManager==undefined) {
                window.notificationsManager = new SettingsTabManager('notifications_mgmt_div', 'notifications');
            }
        } else {
            window.configurationTabView.subscribe("activeTabChange", configurationNotificationsTabChange);
        }
    }

    YAHOO.util.Event.onDOMReady(addNotificationsMgmtMonitor);
    putConfigurationControls('notifications', ['siteWideAlertStatus','siteWideAlertMessage','siteWideAlertType','error', 'issue', 'newUser', 'update', 'emailAllowNonuserSubscribers']);
</script>
