/*
 * D:/Development/XNAT/1.6/xnat_builder_1_6dev/plugin-resources/webapp/xnat/style/xdat.css
 * XNAT http://www.xnat.org
 * Copyright (c) 2014, Washington University School of Medicine
 * All Rights Reserved
 *
 * Released under the Simplified BSD.
 *
 * Last modified 12/21/13 7:14 PM
 */
/***********************************************/
/* HTML tag styles                             */
/***********************************************/
body { margin: 0 ; padding: 0 ; font-size: 12px ; line-height: 15px ; font-family: Arial, Helvetica, sans-serif ; background-color: white ; }
th { margin: 0 ; border-top: none ; border-right: none ; border-left: none ; border-collapse: collapse ; padding: 0 4px ; }
h2 { line-height: 24px ; }
h3 { line-height: 20px ; margin: 0 ; }
h4 { line-height: 18px ; }
p { font-size: 13px ; line-height: 17px ; margin: 0 ; }
td {  }
a.plainText { text-decoration: none ; color: black ; }
a { cursor: pointer ; text-decoration: none ; color: #039 ; }
img { border: none ; }
form { font-size: 12px ; }
/* .withColor { background-color: #ffc ; } */
.withColor { background-color: #2d69b8 ; color: #fff ; }
.withThinBorder { border: 1px solid #aaa ; }
.recentDataActivity { cursor: default; }
input[type="text"],
input[type="password"],
input[type="number"] { padding: 2px 4px 1px 3px ; }
textarea { padding: 4px ; font-family: Arial, Helvetica, sans-serif ; font-size: 12px; }
select {  }

/*
div.error { width: 500px ; background-color: #f9c ; border-width: 1px ; border-style: solid ; font-size: 14px ; line-height: 16px ; font-weight: 500 ; overflow: auto ; padding-top: 5px ; padding-bottom: 5px ; padding-left: 5px ; padding-right: 5px ; text-align: left ; clear: left ; }
div.warning { width: 500px ; background-color: #fcc ; font-size: 14px ; line-height: 16px ; font-weight: 500 ; overflow: auto ; padding: 5px ; text-align: left ; clear: left ; }
div.note, div.message { width: 500px ; background-color: #cff ; border-width: 1px ; border-style: solid ; font-size: 14px ; line-height: 16px ; font-weight: 500 ; overflow: auto ; padding-top: 5px ; padding-bottom: 5px ; padding-left: 5px ; padding-right: 5px ; text-align: left ; clear: left ; }
*/
/*
div.error,
div.warning,
div.note,
div.message {
    max-width: 800px; margin: 15px auto ; padding: 10px 15px ; overflow: auto ;
    font-size: 14px ; line-height: 18px ; text-align: left;
    border-width: 1px ; border-style: solid ;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
*/
/* xnat colors ? */
/*
div.error { color: #c03d3d ; background: #fcf8e3 ; border-color: #e5c3b8 ; }
div.warning { color: #b3716b ; background: #ffdcd9 ; border-color: #b3817d ; }
div.note { color: #6b9999 ; background: #d9fcff ; border-color: #6b9999 ; }
div.message { color: #6b9999 ; background: #d9fcff ; border-color: #6b9999 ; }
*/
/* (slightly tweaked) colors from Twitter bootstrap framework */
/*
div.error { color: #c03d3d ; background: #fcf8e3 ; border-color: #e5c3b8 ; }
div.warning { color: #a63c3a ; background: #F2DEDE ; border-color: #EED3D7 ; }
div.note { color: #23698c ; background: #D9EDF7 ; border-color: #BCE8F1 ; }
div.message { color: #1A661A ; background: #D9F2CE ; border-color: #B9D9A3 ; }
*/

.text { font-size: 11px ; line-height: 13px ; font-family: Arial, Helvetica, sans-serif ; }
div.link { cursor: pointer ; text-decoration: none ; font-size: 11px ; font-family: Arial, Helvetica, sans-serif ; color: #039 ; }
div.edit_title { font-size: 16px ; line-height: 18px ; }
div.edit_header1 { font-size: 14px ; line-height: 18px ; }
div.edit_header2 { font-size: 13px ; line-height: 16px ; }
div.edit_header3 { font-size: 12px ; line-height: 15px ; }
div.spacer { line-height: 13px ; }
.actionsBox { background-color: #dcdcdc ; }
.quarantine { background-color: #fc3 ; }
#loginBox { top: 2px ; position: absolute ; text-align: right ; right: 5px ; }
#menu1 { position: relative ; top: 2px ; left: 5px ; width: 99% ; height: 28px ; border-bottom: 1px solid #aaa ; }
div.option {  }